$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196F3;
$secondary-text-color: #FFF;
$third-text-color: #000;
$primary-bg-color: #FFF;
$secondary-bg-color: #2F303A;
$third-bg-color: #F5F4FA;
$button-bg-color: #188CE8;
$base-font: Roboto, sans-serif;